extends ../layout

block content
    a(href="/bicicleta") Volver

    br
    br
    br

    h2 Modificar bicicleta

    br
    br

    form(action=`/bicicleta/${bici.id}/update` method="post")
        label(for="id") ID:
        input#id(type="text" name="id" value=bici.id)
        br
        label(for="color") Color:
        input#color(type="text" name="color" value=bici.color)
        br
        label(for="modelo") Modelo:
        input#modelo(type="text" name="modelo" value=bici.modelo)
        br
        label(for="lat") Latitud:
        input#modelo(type="text" name="latitud" value=bici.ubicacion[0])
        br
        label(for="lng") Longitud:
        input(type="text" name="longitud" value=bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value="OK")